#contentSubmit {
    margin: 20px 0px 10px 0px;
}

#qrText {
    font-size: 28px;
    font-weight: 700;
    color: #FF5733;
}

#preview, #scanner {
    margin: 20px 20px 20px 20px;
    padding: 20px 0px 20px 0px;
    width: 400px;
    height: 250px;
    outline: 1px solid red;
}

#camList, #camCurr {
    margin: 5px 10px 20px 10px;
}

.title {
    margin: 10px 10px 0px 10px;
    font-weight: 700;
}

#contentInput, #labelInput {
    margin: 10px 5px 10px 0px;
}

#genArea {
    margin: 0px 0px 10px 0px;
}

.btn-click-action {
    background-color: #4CAF50;
    border: solid 2px;
    border-radius: 8px;
    color: white;
    padding: 10px 15px 10px 15px;
    margin: 5px 0px 5px 0px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.btn-click-action:hover {
    background-color: #15781B;
}
