#contentSubmit {
    margin: 20px 0px 10px 0px;
}

#contentInput {
    margin: 10px 5px 10px 0px;
}

#genArea {
    margin: 0px 0px 10px 0px;
}

.btn-click-action {
    background-color: #4CAF50;
    border: solid 2px;
    border-radius: 8px;
    color: white;
    padding: 10px 15px 10px 15px;
    margin: 5px 0px 5px 0px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.btn-click-action:hover {
    background-color: #15781B;
}
