
<div class="container footer"
    fxLayout="row wrap"
    fxLayout.lt-md="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px">

  <div fxFlex="100" fxFlex.gt-sm="50">
    <div fxLayout="row">
      <div fxFlex="40" fxFlexOffset="20px">
        <h4>Links</h4>
        <mat-list>
          <mat-list-item><a mat-button routnerLink = '/home' routerLinkActive = "active">Home</a></mat-list-item>
          <mat-list-item><a mat-button routnerLink = '/aboutus' routerLinkActive = "active">About</a></mat-list-item>
          <mat-list-item><a mat-button routnerLink = '/createaccount' routerLinkActive = "active">Create Account</a></mat-list-item>
        </mat-list>
      </div>
      <div fxFlex="55">
        <h4>Our Address</h4>
        <address style="text-size: 80%">
          123 ABC<br> Unknown Blvd, NC<br> USA<br>
          <i class="fa fa-phone"></i>: +704 123 3456<br>
          <i class="fa fa-fax"></i>: +704 123 4567<br>
          <i class="fa fa-envelope"></i>:
          <a href="mailto:unknown@students.ecu.edu">unknown@students.ecu.edu</a>
        </address>
      </div>
    </div>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="45">
    <div style="text-align:center">
      <a mat-icon-button class="btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
      <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
      <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
      <a mat-icon-button class="btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
      <a mat-icon-button class="btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
      <a mat-icon-button class="btn-mail" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
    </div>
  </div>
  <div>
      <p>© Copyright 2020 NISSE</p>
  </div>
</div>
