html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    /* background: #813631; */
    margin-bottom: 65px;
}

#contentSubmit {
    margin: 20px 0px 10px 0px;
}

.jumbotron {
    background: url("../images/joanna-kosinska-BteMcldTQVo-unsplash.jpg") center;
    background-size: cover;
    /* height: 100%; */
    padding: 2% 5% 2% 5%;
}

.jumbotron-search {
    /* padding: 0px 10px 150px 10px; */
    /* padding: 0% 0% 0% 10%; */
    /* width: 400px; */
}

#qrText {
    font-size: 28px;
    font-weight: 700;
    color: #FF5733;
}

#preview, #scanner {
    margin: 20px 20px 20px 20px;
    padding: 20px 0px 20px 0px;
    width: 400px;
    height: 250px;
    outline: 1px solid red;
}

#camList, #camCurr {
    margin: 5px 10px 20px 10px;
}

.title {
    margin: 10px 10px 0px 10px;
    font-weight: 700;
}

#contentInput, #labelInput {
    margin: 10px 5px 10px 0px;
    width: 500px;
}

#genArea {
    margin: 0px 0px 10px 0px;
}

.btn-click-action {
    background-color: #4CAF50;
    border: solid 2px;
    border-radius: 8px;
    color: white;
    padding: 10px 15px 10px 15px;
    margin: 5px 0px 5px 0px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.btn-click-action:hover {
    background-color: #15781B;
}

pre {
    white-space: pre-wrap;
}

.loginError {
    color: #EC7063;
    text-align: center;
}

.commentBox {
    margin: 20px 0px 10px 0px;
}

.custom-radio {
    margin: 5px 0px 5px 0px;
}

.successLabel {
    color: #1D8348;
    background-color: #D5F5E3;
}

.failLabel {
    color: #E74C3C;
    background-color: #FADBD8;
}

.neutralLabel {
    /* color: #F1C40F; */
    background-color: #EAECEE;
}

.relevancyDropdown, .severityDropdown {
    margin: 15px 0px 5px 0px;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 65px;
    line-height: 20px;
    width: 100%;
    /* background-color: #6ADBE4; */
    color: #34495E;
    text-align: center;
    font-size: 14px;
    /* border-top: 5px solid #FBFBFB; */
    font-family: 'Roboto', sans-serif;
  }