html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 65px;
}

#contentSubmit, #btn, #dataBtn {
    margin: 10px 20px 10px 0px;
}

.jumbotron-custom {
    /* background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../images/joanna-kosinska-BteMcldTQVo-unsplash.jpg"); */
    /* background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url("../images/ethan-feng-A4qsfbL5aIo-unsplash.jpg"); */
    /* background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url("../images/jakub-kapusnak-sDbj1dFlFPU-unsplash.jpg"); */
    /* background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../images/louis-hansel-shotsoflouis-zZeKQBmcWcY-unsplash.jpg"); */
    background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)), url("../images/nrd-D6Tu_L3chLE-unsplash.jpg");
    /* background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../images/vanesa-conunaese-JXow53j6AtE-unsplash.jpg"); */
    /* background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../images/nrd-D6Tu_L3chLE-unsplash.jpg"); */
    background-size: cover;
    background-position: center center;
    border-radius: 6px;
    padding: 2% 5% 2% 5%;
    color: white;
    text-shadow: 2px 2px #000000;
}

.display-4, .lead {
    font-weight: bold;
}

.lead {
    font-size: 30px;
}

.title {
    margin: 10px 10px 0px 10px;
    font-weight: 700;
}

#contentInput, #labelInput {
    margin: 10px 5px 10px 0px;
    width: 60%;
}

#signUpForm, #logInForm {
    margin: 0px 20px 0px 20px;
}

.list-group-item-custom {
    font-size: small;
}

#genArea {
    margin: 0px 0px 10px 0px;
}

pre {
    white-space: pre-wrap;
}

#searchSubmit {
    width: 200px;
}

.loginError {
    color: #EC7063;
    text-align: center;
}

.commentBox {
    margin: 20px 0px 10px 0px;
}

.relevancyDropdown, .severityDropdown {
    margin: 15px 0px 5px 0px;
}

 /* In order to place the tracking correctly */
 canvas.drawing, canvas.drawingBuffer {
    position: absolute;
    left: 0;
    top: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 65px;
    line-height: 20px;
    width: 100%;
    /* background-color: #6ADBE4; */
    color: #34495E;
    text-align: center;
    font-size: 14px;
    /* border-top: 5px solid #FBFBFB; */
    font-family: 'Roboto', sans-serif;
  }