html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 65px;
}

#contentSubmit, #btn {
    margin: 10px 20px 10px 0px;
}

#scanner-container {
    width: 400px;
}

.jumbotron {
    background: url("../images/joanna-kosinska-BteMcldTQVo-unsplash.jpg") center;
    background-size: cover;
    /* height: 100%; */
    padding: 2% 5% 2% 5%;
}

.title {
    margin: 10px 10px 0px 10px;
    font-weight: 700;
}

#instrText {
    width: 70%;
}

#contentInput, #labelInput {
    margin: 10px 5px 10px 0px;
    width: 60%;
}

#signUpForm, #logInForm {
    margin: 0px 20px 0px 20px;
}

#scanner-container {
    margin: 0px 0px 20px 0px;;
}

#genArea {
    margin: 0px 0px 10px 0px;
}

pre {
    white-space: pre-wrap;
}

#searchSubmit {
    width: 200px;
}

.loginError {
    color: #EC7063;
    text-align: center;
}

.commentBox {
    margin: 20px 0px 10px 0px;
}

.relevancyDropdown, .severityDropdown {
    margin: 15px 0px 5px 0px;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 65px;
    line-height: 20px;
    width: 100%;
    /* background-color: #6ADBE4; */
    color: #34495E;
    text-align: center;
    font-size: 14px;
    /* border-top: 5px solid #FBFBFB; */
    font-family: 'Roboto', sans-serif;
  }