<mat-toolbar color="primary">
  <span><img src="/assets/images/logo.png" height=30 width=41></span>
  <a mat-button routerLink='/home' routerLinkActive = "active"><span class="fa fa-home fa-lg"></span> Home</a>
  <a mat-button routerLink='/aboutus' routerLinkActive = "active"><span class="fa fa-info fa-lg"></span> AboutUs</a>
  <a mat-button routerLink='/createaccount' routerLinkActive = "active"><span class="fa-user fa-lg"></span>Create Account</a>
  <span class="flex-spacer"></span>
  <a mat-button (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg"></span> Login</a>
</mat-toolbar>

<div class="container jumbotron"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center"
    fxLayoutAlign.gt-sm="center center"
    fxLayoutGap="10px">

  <div fxFlex fxFlex.gt-sm="50%">
    <h1>NISSE</h1>
    <p>We want to help you explore your food!</p>
  </div>
  <div fxFlex fxFlex.gt-sm="20%">
    <img src="/assets/images/logo.png" alt="Logo">
  </div>
  <div fxFlex></div>
</div>
